.section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.section p {
  max-width: 800px;
  margin: 20px auto;
  font-size: 18px;
  color: #333;
}

.carSelector {
  margin: 50px 0;
}