.section1 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: blur(10px) brightness(50%);
}

.section1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 50px; /* Espacio entre las tarjetas */
  margin-top: 20px; /* Margen superior para separar las tarjetas del subtítulo */
  position: absolute;
  bottom: 10%; /* Ubicación en la parte inferior de la sección */
  width: 100%;
  z-index: 2;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column; /* Asegura que el título esté debajo */
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
  position: relative; /* Necesario para que el texto se posicione correctamente */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cardImageContainer {
  width: 100%;
  height: 180px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  opacity: 80%;
  transition: 0.3s ease, transform 0.3s ease;
}

.playButton {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 3;
  transition: transform 0.3s ease;
}

.card:hover .cardImage {
  opacity: 100%;
  transform: scale(1.1);
}

.cardTitle {
  color: white;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  position: absolute; /* Posicionamos absolutamente */
  bottom: -30px; /* Movemos el título hacia abajo */
  width: 100%; /* Asegura que ocupe todo el ancho de la tarjeta */
}

.slogan {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  z-index: 2;
}

.subtitle {
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  position: relative;
  max-width: 800px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.modalVideo {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
