.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.canvasContainer {
  width: 100%;
  height: 70vh; /* Ocupa el 70% de la altura total para el canvas */
  position: relative;
  z-index: 2;
}

.backgroundImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  max-width: 1200px;
  max-height: 800px;
  z-index: 1;
  opacity: 0.2;
}

.topRightText,
.bottomLeftText {
  font-family: 'Pixelify Sans', sans-serif;
}

.topRightText {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  color: #ffffff;
  z-index: 3;
}

.bottomLeftText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.5rem;
  color: #ffffff;
  z-index: 3;
}

.bottomLeftImage {
  position: absolute;
  bottom: 80px;
  left: 20px;
  width: 100px;
  z-index: 3;
}

.statsContainer {
  margin-top: 10px;
  color: white;
  font-family: 'Pixelify Sans', sans-serif;
  text-align: center;
  z-index: 3;
}

.stat {
  margin-bottom: 10px;
}

.statLabel {
  font-size: 1rem;
  margin-bottom: 5px;
}

.statBar {
  width: 80%;
  margin: 0 auto; /* Centrar las barras */
  height: 10px;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
}

.statBarFill {
  height: 100%;
  background-color: #00ff00;
}
