.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carDetails {
  position: absolute;
  top: 45%; /* Posici칩n un poco m치s cerca del coche */
  left: 50%;
  transform: translate(-50%, -270%); /* Centrar horizontalmente y ajustar verticalmente */
  text-align: left;
  z-index: 3;
  display: flex;
  flex-direction: row; /* Alinea las flechas y el texto en fila */
  align-items: center; /* Alinea verticalmente al centro */
}

.brand {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Pixelify Sans', sans-serif;
}

.model {
  font-size: 4rem;
  color: #ffffff;
  font-family: 'Pixelify Sans', sans-serif;
  margin-top: -5px;
}

.arrowLeft, .arrowRight {
  font-size: 2rem;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px; /* Aumenta el espacio entre las flechas y el texto */
}

.arrowLeft {
  margin-right: 30px; /* Ajusta la separaci칩n de la flecha izquierda */
}

.arrowRight {
  margin-left: 30px; /* Ajusta la separaci칩n de la flecha derecha */
}

.canvasContainer {
  width: 100%;
  height: 70vh;
  position: relative;
  z-index: 2;
}

.backgroundImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  max-width: 1200px;
  max-height: 800px;
  z-index: 1;
  opacity: 0.2;
}

.topRightText,
.bottomLeftText {
  font-family: 'Pixelify Sans', sans-serif;
}

.topRightText {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  color: #ffffff;
  z-index: 3;
}

.bottomLeftText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.5rem;
  color: #ffffff;
  z-index: 3;
}

.bottomLeftImage {
  position: absolute;
  bottom: 80px;
  left: 20px;
  width: 100px;
  z-index: 3;
}

.statsContainer {
  margin-top: 20px;
  color: white;
  font-family: 'Pixelify Sans', sans-serif;
  text-align: left;
  z-index: 3;
  max-width: 200px;
  margin: 0 auto;
}

.stat {
  margin-bottom: 10px;
}

.statLabel {
  font-size: 0.8rem;
  margin-bottom: 3px;
}

.statBar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6px;
  margin-bottom: 5px;
  background-color: #222;
  border-radius: 10px;
  padding: 2px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.statSegment {
  flex: 1;
  height: 100%;
  background-color: #444;
  border-radius: 10px;
  margin-right: 1px;
}

.filled {
  background-color: #00ccff;
}

.yellowBar {
  position: absolute;
  height: 10px;
  width: 3px;
  background-color: yellow;
  border-radius: 4px;
  top: -2px;
}
