.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Estilos para el canvas de Three.js */
  .canvasStyle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none; /* Permite interactuar con elementos superpuestos si es necesario */
  }
  
  /* Estilos para la imagen de fondo */
  .backgroundImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Ajusta el tamaño según sea necesario */
    height: auto;
    max-width: 1200px; /* Tamaño máximo de la imagen */
    max-height: 800px; /* Tamaño máximo de la imagen */
    z-index: 1;
    opacity: 0.2; /* Controla la transparencia de la imagen de fondo */
  }
  
  /* Estilos para el texto superior derecho */
  .topRightText {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    font-family: 'PixelFont', monospace;
    color: #ffffff;
    z-index: 3;
    animation: typing 3s steps(40, end);
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
  }
  
  /* Estilos para el texto inferior izquierdo */
  .bottomLeftText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.5rem;
    font-family: 'PixelFont', monospace;
    color: #ffffff;
    z-index: 3;
    animation: typing 3s steps(40, end);
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
  }
  
  /* Estilos para la imagen inferior izquierda */
  .bottomLeftImage {
    position: absolute;
    bottom: 80px; /* Ajusta según la necesidad de espacio */
    left: 20px;
    width: 100px;
    z-index: 3;
  }
  
  /* Animación de escritura */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  /* Importar fuente personalizada */
  @font-face {
    font-family: 'PixelFont';
    src: url('/path-to-your-pixel-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  