.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  display: flex;
  flex-direction: row; /* Flex en fila */
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  min-height: 600px; /* Ajusta según sea necesario */
}

/* Panel izquierdo: Formulario de inicio de sesión */
.modalLeft {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #1E1E2C;
}

.modalLeft h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.modalLeft h2 + p{
  margin-bottom: 50px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  margin-bottom: 15px;
}

.fullWidth {
  width: 100%;
}

.passwordContainer {
  position: relative;
}

.passwordToggle {
  position: absolute;
  right: 10px;
  top: 12%;
  background: none;
  border: none;
  cursor: pointer;
}

.createAccountButton {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
    margin-top: 20px; /* Añade margen superior para separación del último input */
  margin-bottom: 20px;
}

.createAccountButton:hover {
  background-color: #634dd9;
}

.orText {
  text-align: center;
  margin-top: 20px; /* Ajusta la separación superior */
  margin-bottom: 20px; /* Ajusta la separación inferior */
  color: #aaa;
}

.socialButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Añade margen superior para separar del texto "o inicia sesión con" */
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #333; /* Color de fondo */
  border-radius: 8px; /* Bordes redondeados */
  color: white;
  cursor: pointer;
  width: 48%;
  border: none; /* Elimina cualquier borde */
  box-shadow: none; /* Elimina cualquier sombra */
  transition: background-color 0.3s ease; /* Transición para el cambio de color */
}

.socialButton:hover {
  background-color: #444; /* Cambia el color al pasar el cursor */
}

.socialButton img {
  margin-right: 10px;
  width: 20px;
}

/* Panel derecho: Carrusel */
/* Estilos de los indicadores del carrusel */
.modalRight :global(.swiper-pagination-bullet) {
  width: 25px; /* Ajusta el ancho de los rectángulos */
  height: 5px; /* Ajusta la altura de los rectángulos */
  background-color: #9a9a9a; /* Color del botón de "Iniciar Sesión" */
  opacity: 0.5; /* Opacidad para los indicadores inactivos */
  transition: opacity 0.5s ease, transform 0.5s ease;
  border-radius: 4px; /* Borde redondeado para darles un estilo rectangular */
}

.modalRight :global(.swiper-pagination-bullet-active) {
  opacity: 1; /* Indicador activo completamente opaco */
  background-color: var(--primary-color); /* Color más oscuro para el indicador activo */
  transform: scale(1.3); /* Aumenta el tamaño del indicador activo para darle énfasis */
}

.modalRight :global(.swiper-pagination-horizontal) {
  margin-bottom: 6px;
}

.modalRight {
  flex: 1;
  padding: 0;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide {
  transition-timing-function: ease-in-out;
}

.carouselText {
  position: absolute;
  top: 80%;
  text-align: center;
  color: white;
  padding: 10px;
  margin: 0px 20px;
  border-radius: 15px;
  z-index: 1;
  background-color: rgba(30, 30, 44, 0.7); /* Fondo translúcido con color #1E1E2C */
  backdrop-filter: blur(10px); /* Efecto de blur */
  -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
}

.carouselText h2 {
  margin-bottom: 10px;
}

.carouselText p {
  padding-bottom: 2.5px;
}

.closeModal {
  position: absolute;
  top: 15px; /* Ajusta según sea necesario */
  left: 845px; /* Ajusta según sea necesario */
  background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con 70% de opacidad */
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #222;
  width: 40px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  border-radius: 50%; /* Hace que el botón sea circular */
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
  transition: transform 0.5s ease, background-color 0.3s ease; /* Transición suave */
  z-index: 1;
}

.closeModal:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Aumenta la opacidad al hacer hover */
  transform: rotate(180deg); /* Gira 180 grados en hover */
}

.errorText {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin-right: 8px; /* Espacio entre el spinner y el texto */
  display: inline-block; /* Para alinearlo con el texto */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}