/* MenuComponent.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent; /* Fondo transparente por defecto */
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s ease; /* Transición suave del fondo */
}

.navbarScrolled {
  background-color: #111; /* Fondo oscuro cuando se hace scroll */
}

.leftContainer {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  cursor: pointer;
  margin-right: 20px; /* Espacio entre el logo y el enlace */
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0 15px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ffcc00; /* Color de hover */
}

.authButtons {
  display: flex;
  align-items: center;
}

.loginButton, .signupButton {
  background-color: transparent;
  border: 2px solid #ffcc00;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.loginButton:hover, .signupButton:hover {
  background-color: #ffcc00;
  color: #111;
}

.signupButton {
  background-color: #ffcc00;
  color: #111;
  margin-left: 20px;
}

.signupButton:hover {
  background-color: transparent;
  color: white;
}

/* Estilos del modal */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.modalButton {
  background-color: #111;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.modalClose {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s ease;
}

.modalClose:hover {
  color: #111;
}
