/* MenuComponent.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent; /* Fondo transparente por defecto */
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s ease; /* Transición suave del fondo */
}

.navbarScrolled {
  background-color: #111; /* Fondo oscuro cuando se hace scroll */
}

.leftContainer {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  cursor: pointer;
  margin-right: 20px; /* Espacio entre el logo y el enlace */
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0 15px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ffcc00; /* Color de hover */
}

.authButtons {
  display: flex;
  align-items: center;
}

.loginButton, .signupButton {
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 223, 27), rgb(255, 223, 27)); /* Gradient from white to yellow */
  background-size: 300% 100%; /* Larger background to allow animation */
  color: #111;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  transition: background-position 0.4s ease-in-out, border 0.4s ease-in-out; /* Smooth transition for background and border */
  transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1), linear; /* Custom cubic-bezier timing */
  background-color: transparent;
}

.loginButton:hover, .signupButton:hover {
  background-position: 100% 0; /* Moves the gradient */
  border-color: #ffcc00; /* Changes the border to white on hover */
  color: #111; /* Keeps the text color the same */
}

.signupButton {
  background: linear-gradient(90deg, rgb(255, 223, 27), rgb(255, 223, 27), rgb(255, 255, 255), rgb(255, 255, 255)); /* Gradient from white to yellow */
  background-size: 300% 100%; /* Larger background to allow animation */
  color: #111;
  margin-left: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #ffcc00;
  border-radius: 20px;
  transition: background-position 0.4s ease-in-out, border 0.4s ease-in-out; /* Smooth transition for background and border */
  transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1), linear; /* Custom cubic-bezier timing */
}

.signupButton:hover {
  background-position: 100% 0; /* Moves the gradient */
  border-color: #ffffff; /* Changes the border to white on hover */
  color: #111; /* Keeps the text color the same */
}

/* Estilos del modal */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.modalButton {
  background-color: #111;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.modalClose {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s ease;
}

.modalClose:hover {
  color: #111;
}

.userMenu {
  position: relative;
  display: inline-block;
}

.userButton {
  display: flex;
  align-items: center;
  background: none;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: border 0.4s ease-in-out;
}

.userButton:hover {
  border-color: #ffcc00;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdownMenu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #111;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.userMenu:hover .dropdownMenu {
  display: block;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu ul li {
  margin-bottom: 10px;
}

.dropdownMenu ul li a {
  color: white;
  text-decoration: none;
}

.dropdownMenu ul li a:hover {
  color: #ffcc00;
}

.dropdownMenu ul li:last-child {
  margin-bottom: 0;
}
