.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;

  min-height: 600px; /* Ajusta según sea necesario */

}

/* Left panel now contains the community message */
.modalLeft {
  flex: 1;
  padding: 0;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Fondo traslúcido y con blur para el texto */
.carouselText {
  position: absolute;
  top: 73.5%;
  text-align: center;
  color: white;
  padding: 10px;
  margin: 0px 20px;
  border-radius: 15px;
  z-index: 1;
  background-color: rgba(30, 30, 44, 0.7); /* Fondo translúcido con color #1E1E2C */
  backdrop-filter: blur(10px); /* Efecto de blur */
  -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
}

/* Estilos globales dentro de una clase local */

.modalLeft :global(.swiper-pagination-bullet) {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.modalLeft :global(.swiper-pagination-bullet-active) {
  opacity: 1;
  background-color: #ffcc00;
}

.carouselText h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carouselText p {
  font-size: 16px;
  padding-bottom: 2.5px;
}

/* Right panel now contains the Create an account form */
.modalRight {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #1E1E2C;
}

.modalRight h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.modalRight p {
  font-size: 16px;
  margin-bottom: 15px;
}

.signupForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.formRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  width: 48%;

}

.fullWidth {
  width: 100%;
  margin-bottom: 15px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkboxContainer input[type="checkbox"] {
  margin-right: 10px;
}

.checkboxContainer label {
  color: #bbb;
}

.createAccountButton {
  width: 100%;
  padding: 12px;
  background-color: #7259EF;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.createAccountButton:hover {
  background-color: #634dd9;
}

.orText {
  text-align: center;
  margin: 20px 0;
  color: #aaa;
}

.socialButtons {
  display: flex;
  justify-content: space-between;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #333; /* Color de fondo */
  border-radius: 8px; /* Bordes redondeados */
  color: white;
  cursor: pointer;
  width: 48%;
  border: none; /* Elimina cualquier borde */
  box-shadow: none; /* Elimina cualquier sombra */
  transition: background-color 0.3s ease; /* Transición para el cambio de color */
}

.socialButton:hover {
  background-color: #444; /* Cambia el color al pasar el cursor */
}

.socialButton img {
  margin-right: 10px;
  width: 20px;
}


.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #999;
}

.closeModal:hover {
  color: #333;
}

.errorTextEmail {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.errorTextPassword {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.passwordStrengthContainer {
  display: flex;
  align-items: center; /* Alinea verticalmente las barras y el texto */
  margin-bottom: 15px;
}

.passwordStrength {
  display: flex;
  align-items: center; /* Alinea las barras internamente en el centro vertical */
  justify-content: space-between;
  width: 100%;
  height: 8px;
  background-color: #222;
  border-radius: 10px;
  max-width: 285px;
  padding: 2px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.strengthBar {
  flex: 1;
  height: 100%;
  background-color: #39535a; /* Color del segmento vacío */
  border-radius: 10px;
  margin-right: 1px;
  transition: background-color 0.5s ease-in-out;
}

.strengthBar.filled {
  background-color: #00ccff; /* Color del segmento lleno */
}

.strengthText {
  margin-left: 10px; /* Ajusta la distancia entre la barra y el texto */
  color: gray;
  font-size: 12px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.passwordContainer {
  position: relative;
}

.passwordToggle {
  position: absolute;
  right: 10px;
  top: 15%;
  background: none;
  border: none;
  cursor: pointer;
}